<template>
  <div class="blog container">
    <nav>
      <h2>DEV_NGUYEN</h2>
      <ul>
        <li>Trang chủ</li>
        <li>Chủ đề</li>
        <li>Liên hệ</li>
        <li>
          <i class="fab fa-facebook-square"></i>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isCollapse: false,
      width: '70px',
    }
  },
  methods: {},
}
</script>

<style>
html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}
</style>
